In [1]:
# OIBSIP
# TASK 5         : Sales Prediction Using Python
# AUTHOR         : Shreyas Ghodekar
# MODEL          : Linear Regression

In [2]:
# Import Required :
# 1. Python Modules
# 2. Advertising Dataset

In [3]:
import pandas as pd

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [5]:
df = pd.read_csv('Advertising.csv',index_col=False)

In [6]:
# Performing Basic EDA to understand data

In [7]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [8]:
df = df.drop(['Unnamed: 0'],axis=1)

In [9]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [10]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [12]:
df.shape

(200, 4)

In [13]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [14]:
# Preparing Linear Regression Model

In [15]:
X = df[['TV', 'Radio', 'Newspaper']]
y = df['Sales']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [18]:
y_train_pred = model.predict(X_train)

In [19]:
train_rmse = mean_squared_error(y_train, y_train_pred, squared=False)

In [20]:
# Checking Root Mean Squared Error of the training data:

In [21]:
train_r2 = r2_score(y_train, y_train_pred)

In [22]:
y_test_pred = model.predict(X_test)

In [23]:
test_rmse = mean_squared_error(y_test, y_test_pred, squared=False)

In [24]:
# Checking Root Mean Squared Error :

In [25]:
test_r2 = r2_score(y_test, y_test_pred)

In [26]:
print("Training set:")
print(f"RMSE: {train_rmse:.2f}")
print(f"R^2: {train_r2:.2f}")

Training set:
RMSE: 1.64
R^2: 0.90

In [27]:
print("\nTesting set:")
print(f"RMSE: {test_rmse:.2f}")
print(f"R^2: {test_r2:.2f}")

Testing set:
RMSE: 1.78
R^2: 0.90

In [28]:
# Testing on custom Data :

In [29]:
new_data = pd.DataFrame({'TV': [100], 'Radio': [50], 'Newspaper': [25]})
predicted_sales = model.predict(new_data)
print(f"\nPredicted Sales: {predicted_sales[0]:.2f}")

Predicted Sales: 16.98